
{% include 'header.html' %}

    <table  class="table table-striped" >
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Image</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado[0] }}</td>
                    <td>{{ empleado[1] }}</td>
                    <td>{{ empleado[2] }}</td>
                    <td>{{ empleado[3] }}</td>
                    <td>{{ empleado[4] }}</td>
                    <td>
                         <a class="btn btn-warning" href="/edit/{{ empleado[0] }}">Edit</a>

                         |
                        <a class="btn btn-danger" href="/destroy/{{ empleado[0] }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>


{% include 'footer.html' %}
